<a href="https://colab.research.google.com/github/antoniovitorio/Projetos/blob/master/IMPRESSORA_RELATORIO_ss(adm).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import io

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import csv

In [ ]:
pd.read_excel("/content/sample_data/ADM_IMPRESSOARA.xlsx")

In [ ]:
DF = pd.read_excel("/content/sample_data/ADM_IMPRESSOARA.xlsx")
DF.head()

In [ ]:
DF.rename (columns= {"User Name": "Usuario",
                        "Type": "Processo",
                       "Print Pages": "Total de Paginas",
                       "Time": "Hora",
                       "Date": "Data",
                       "Job Name": "Nome do Arquivo"	},inplace = True)

In [ ]:
DF.head()

## ***AQUI COMEÇA TOTAL DE PAGINAS POR USUARIO***

In [178]:
# DADOS USUARIOS 
DF [["Usuario","Processo","Total de Paginas","Data","Hora"]]

             Usuario        Processo  Total de Paginas       Data      Hora
0    brendo.mendonca  Print(Network)                 1 2020-08-19  09:01:50
1    brendo.mendonca  Print(Network)                 1 2020-08-19  09:02:10
2    brendo.mendonca  Print(Network)                 1 2020-08-19  09:02:13
3    brendo.mendonca  Print(Network)                 1 2020-08-19  09:02:17
4       damiao.silva  Print(Network)                25 2020-08-19  11:20:02
..               ...             ...               ...        ...       ...
206     damiao.silva  Print(Network)                 1 2020-08-24  10:14:52
207     damiao.silva  Print(Network)                 1 2020-08-24  10:15:11
208     damiao.silva  Print(Network)                22 2020-08-24  10:30:21
209     damiao.silva  Print(Network)                22 2020-08-24  10:31:22
210     damiao.silva  Print(Network)                22 2020-08-24  10:31:22

[211 rows x 5 columns]

In [179]:
DF [["Usuario","Processo","Total de Paginas"]]

             Usuario        Processo  Total de Paginas
0    brendo.mendonca  Print(Network)                 1
1    brendo.mendonca  Print(Network)                 1
2    brendo.mendonca  Print(Network)                 1
3    brendo.mendonca  Print(Network)                 1
4       damiao.silva  Print(Network)                25
..               ...             ...               ...
206     damiao.silva  Print(Network)                 1
207     damiao.silva  Print(Network)                 1
208     damiao.silva  Print(Network)                22
209     damiao.silva  Print(Network)                22
210     damiao.silva  Print(Network)                22

[211 rows x 3 columns]

In [180]:
dados_grupos = DF [["Usuario","Processo","Total de Paginas"]]
dados_grupos

             Usuario        Processo  Total de Paginas
0    brendo.mendonca  Print(Network)                 1
1    brendo.mendonca  Print(Network)                 1
2    brendo.mendonca  Print(Network)                 1
3    brendo.mendonca  Print(Network)                 1
4       damiao.silva  Print(Network)                25
..               ...             ...               ...
206     damiao.silva  Print(Network)                 1
207     damiao.silva  Print(Network)                 1
208     damiao.silva  Print(Network)                22
209     damiao.silva  Print(Network)                22
210     damiao.silva  Print(Network)                22

[211 rows x 3 columns]

In [181]:
plan_agrupada=dados_grupos.groupby(["Usuario","Processo"]).sum()
plan_agrupada

                                  Total de Paginas
Usuario           Processo
Cópias            Copy                          32
TREINAMENTO       Copy                          24
ascencao.ferreira Print(Network)                14
brendo.mendonca   Print(Network)               147
damiao.silva      Print(Network)               418
jadna.pinheiro    Print(Network)               239

In [182]:

dados_user=dados_grupos.groupby(["Usuario"]).sum()
dados_user

                   Total de Paginas
Usuario
Cópias                           32
TREINAMENTO                      24
ascencao.ferreira                14
brendo.mendonca                 147
damiao.silva                    418
jadna.pinheiro                  239

In [183]:
#DADOS DOS USUARIOS (TOTAL DE PAGINAS)
Total_por_User = dados_user.sort_values(by='Total de Paginas')
Total_por_User

                   Total de Paginas
Usuario
ascencao.ferreira                14
TREINAMENTO                      24
Cópias                           32
brendo.mendonca                 147
jadna.pinheiro                  239
damiao.silva                    418

In [ ]:
# GRAFICO DADOS USUARIOS(TOTAL DE PAGINAS POR USUARIO)
Total_por_User[["Total de Paginas"]].plot(figsize=(15,8), kind = 'bar')
plt.title("IMPRESSORA SS", y=1.08, fontsize='20')
plt.xticks(rotation=45)
plt.draw()

In [ ]:
# GRAFICO DADOS USUARIOS
dados= dados_org.plot(kind='pie',
                      wedgeprops = {"ec": "k"},
                      figsize=(17,8),
                      labeldistance = 1.04,
                      subplots=True,
                      autopct='%1.1f%%',
                      textprops = {"fontsize": 13})
plt.axis('equal')
plt.legend(title='Usuarios',loc=3)
plt.tight_layout()
plt.title("GRÁFICO 02", y=5.08, fontsize='20')
plt.draw()

## ***AQUI COMEÇA ARQUIVO MAIS IMPRESSO***

In [187]:
DF.head()

   Id        Processo  ...      Hora Total de Paginas
0   1  Print(Network)  ...  09:01:50                1
1   2  Print(Network)  ...  09:02:10                1
2   3  Print(Network)  ...  09:02:13                1
3   4  Print(Network)  ...  09:02:17                1
4   5  Print(Network)  ...  11:20:02               25

[5 rows x 7 columns]

In [188]:
DT_PG= DF [["Usuario","Processo","Nome do Arquivo","Total de Paginas"]]
DT_PG

             Usuario  ... Total de Paginas
0    brendo.mendonca  ...                1
1    brendo.mendonca  ...                1
2    brendo.mendonca  ...                1
3    brendo.mendonca  ...                1
4       damiao.silva  ...               25
..               ...  ...              ...
206     damiao.silva  ...                1
207     damiao.silva  ...                1
208     damiao.silva  ...               22
209     damiao.silva  ...               22
210     damiao.silva  ...               22

[211 rows x 4 columns]

In [189]:
DT_PG[["Processo","Nome do Arquivo","Total de Paginas"]]

           Processo                         Nome do Arquivo  Total de Paginas
0    Print(Network)                       CHAVE JESSICA.pdf                 1
1    Print(Network)                       CHAVE JESSICA.pdf                 1
2    Print(Network)                     EXTRATO JESSICA.pdf                 1
3    Print(Network)                     EXTRATO JESSICA.pdf                 1
4    Print(Network)                   GABARITO OFICIAL.xlsx                25
..              ...                                     ...               ...
206  Print(Network)  TREINAMENTO TIM - MIG. 20.08.2020.xlsm                 1
207  Print(Network)  TREINAMENTO TIM - MIG. 20.08.2020.xlsm                 1
208  Print(Network)                   GABARITO OFICIAL.xlsx                22
209  Print(Network)                   GABARITO OFICIAL.xlsx                22
210  Print(Network)                   GABARITO OFICIAL.xlsx                22

[211 rows x 3 columns]

In [190]:
Num_pagina=DT_PG[["Processo","Nome do Arquivo","Total de Paginas"]]
Num_pagina

           Processo                         Nome do Arquivo  Total de Paginas
0    Print(Network)                       CHAVE JESSICA.pdf                 1
1    Print(Network)                       CHAVE JESSICA.pdf                 1
2    Print(Network)                     EXTRATO JESSICA.pdf                 1
3    Print(Network)                     EXTRATO JESSICA.pdf                 1
4    Print(Network)                   GABARITO OFICIAL.xlsx                25
..              ...                                     ...               ...
206  Print(Network)  TREINAMENTO TIM - MIG. 20.08.2020.xlsm                 1
207  Print(Network)  TREINAMENTO TIM - MIG. 20.08.2020.xlsm                 1
208  Print(Network)                   GABARITO OFICIAL.xlsx                22
209  Print(Network)                   GABARITO OFICIAL.xlsx                22
210  Print(Network)                   GABARITO OFICIAL.xlsx                22

[211 rows x 3 columns]

In [191]:
numeropag = Num_pagina[["Nome do Arquivo","Total de Paginas"]]
numeropag.head()

         Nome do Arquivo  Total de Paginas
0      CHAVE JESSICA.pdf                 1
1      CHAVE JESSICA.pdf                 1
2    EXTRATO JESSICA.pdf                 1
3    EXTRATO JESSICA.pdf                 1
4  GABARITO OFICIAL.xlsx                25

In [192]:
total_paginas = numeropag.groupby(["Nome do Arquivo"]).sum()
total_paginas

                                                  Total de Paginas
Nome do Arquivo
-                                                               56
5acc3563-f416-4845-866b-e753e755532a (720 1280)                  1
714d0b1b-c7a3-436b-aefa-1a6a0828cce4 (540 1110)                  1
874d1cdb-ba5e-4c22-a9df-3639737ba63b (1280 719)                  1
980658e6-3281-4391-b47c-1ab763bcc4cb (720 1520)                  2
...                                                            ...
banco samantha sl.pdf                                            1
chave flavia.pdf                                                 2
d5ff1446-3e1d-49a9-86d2-cefa5cab8c17 (375 647)                   1
das_35094659000139_20200701(1).pdf                               1
e43e0c1f-4921-405b-9bf8-d3621d5c2122 (1080 2220)                 1

[67 rows x 1 columns]

In [ ]:
#arquivo que foi mais impresso
TOT_PAGINAS = total_paginas.sort_values(by="Total de Paginas",ascending=False)[0:10]
TOT_PAGINAS

In [ ]:
# DADOS NOME DO AQRUIVO
TOT_PAGINAS[["Total de Paginas"]].plot(figsize=(15,8), kind = 'barh',color="firebrick")
plt.title("IMPRESSÃO DE ARQUIVO", y=1.08, fontsize='20')
plt.yticks(rotation=45)
plt.draw()

# ***AQUI COMEÇA O TOTAL DE ARQUIVO IMPRESSO POR DIA OU MES!***

In [ ]:
DF.head()

In [ ]:
DF [["Usuario","Processo","Total de Paginas","Data"]]

In [ ]:
CONTG_POR_DIA = DF [["Usuario","Total de Paginas","Data"]]
CONTG_POR_DIA

In [ ]:
#QUANTIDADE POR DIA
CONT_ORGAN = CONTG_POR_DIA.groupby(['Data']).sum()
CONT_ORGAN

In [ ]:
#QUANTIDADE POR DIA
Relatorio_por_dia = CONTG_POR_DIA.groupby([DF['Data'].dt.day, 'Usuario']).sum()
Relatorio_por_dia

In [ ]:
#QUANTIDADE POR MES USUARIO
Relatorio_por_MES = CONTG_POR_DIA.groupby([DF['Data'].dt.month, 'Usuario']).sum()
Relatorio_por_MES

In [ ]:
#TOTAL MES
total_por_MES = CONTG_POR_DIA.groupby([DF['Data'].dt.month]).sum()
total_por_MES

In [ ]:
#Grafico QUANTIDADE POR DIA
CONT_ORGAN[["Total de Paginas"]].plot(figsize=(15,8), kind = 'bar')
plt.title("IMPRESSÃO POR USUÁRIO", y=1.08, fontsize='20')
plt.xticks(rotation=45)
plt.draw()

In [ ]:
#Grafico MES USUARIO
Relatorio_por_MES[["Total de Paginas"]].plot(figsize=(15,8), kind = 'bar')
plt.title("IMPRESSÃO POR USUÁRIO", y=1.08, fontsize='20')
plt.xticks(rotation=45)
plt.draw()

In [ ]:
#Grafico TOTAL MES
total_por_MES[["Total de Paginas"]].plot(figsize=(8,6), kind = 'bar')
plt.title("IMPRESSÃO POR USUÁRIO", y=1.08, fontsize='20')
plt.xticks(rotation=45)
plt.draw()