<a href="https://colab.research.google.com/github/antoniovitorio/Projetos/blob/master/Relatorio_Total_Paginas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [165]:
%matplotlib inline

In [100]:
import pandas as pd

In [166]:
import matplotlib.pyplot as plt

In [167]:
plt.rcParams.update({'font.size':20})

In [101]:
import csv

In [130]:
data = pd.read_csv('/content/sample_data/arquivo.csv',encoding = "ISO-8859-1")

In [ ]:
data

In [132]:
data.rename (columns= {"User Name": "Usuario",
                        "Type": "Processo",
                       "Print Pages": "Total de Paginas",
                       "Time": "Hora",
                       "Date": "Data"},inplace = True)

In [ ]:
data

In [134]:
data [["Usuario","Processo","Total de Paginas","Data","Hora"]]

              Usuario        Processo  Total de Paginas        Data      Hora
0         Luis.Franca  Print(Network)                 1  19/08/2020  09:03:05
1         Luis.Franca  Print(Network)                 1  19/08/2020  09:10:23
2   patricia.oliveira  Print(Network)                 2  19/08/2020  09:17:28
3        Taliane.Lima  Print(Network)                 1  19/08/2020  09:56:59
4      graciele.gomes  Print(Network)                 1  19/08/2020  13:27:33
5    Christian.Cutrim  Print(Network)                 1  19/08/2020  13:30:07
6      davisson.silva  Print(Network)                 5  19/08/2020  14:12:41
7      graciele.gomes  Print(Network)                 3  19/08/2020  14:22:54
8        pamela.silva  Print(Network)                 1  19/08/2020  14:27:43
9        Taliane.Lima  Print(Network)                 1  19/08/2020  14:33:30
10       pamela.silva  Print(Network)                 1  19/08/2020  14:48:30
11       pamela.silva  Print(Network)                 1  19/08/2020  14:49:36
12             Public            Copy                 1  19/08/2020  15:03:32
13     davisson.silva  Print(Network)                 1  19/08/2020  16:54:41
14     davisson.silva  Print(Network)                 7  19/08/2020  16:55:23
15   Christian.Cutrim  Print(Network)                 2  20/08/2020  08:56:07
16       pamela.silva  Print(Network)                 1  20/08/2020  09:01:16
17  patricia.oliveira  Print(Network)                10  20/08/2020  09:06:06
18       Taliane.Lima  Print(Network)                 1  20/08/2020  09:07:40
19   marselle.ribeiro  Print(Network)                 3  20/08/2020  09:22:17
20        Luis.Franca  Print(Network)                 1  20/08/2020  09:31:31
21     davisson.silva  Print(Network)                 2  20/08/2020  09:46:33
22        Luis.Franca  Print(Network)                 3  20/08/2020  12:02:50
23        Luis.Franca  Print(Network)                 3  20/08/2020  12:11:41
24        Luis.Franca  Print(Network)                 3  20/08/2020  12:28:38
25   Christian.Cutrim  Print(Network)                 1  20/08/2020  13:01:38
26   marselle.ribeiro  Print(Network)                 2  20/08/2020  13:26:26
27     davisson.silva  Print(Network)                 1  20/08/2020  13:37:26

In [ ]:
data [["Usuario","Processo","Total de Paginas"]]

In [156]:
dados_grupos = data [["Usuario","Processo","Total de Paginas"]]
dados_grupos

              Usuario        Processo  Total de Paginas
0         Luis.Franca  Print(Network)                 1
1         Luis.Franca  Print(Network)                 1
2   patricia.oliveira  Print(Network)                 2
3        Taliane.Lima  Print(Network)                 1
4      graciele.gomes  Print(Network)                 1
5    Christian.Cutrim  Print(Network)                 1
6      davisson.silva  Print(Network)                 5
7      graciele.gomes  Print(Network)                 3
8        pamela.silva  Print(Network)                 1
9        Taliane.Lima  Print(Network)                 1
10       pamela.silva  Print(Network)                 1
11       pamela.silva  Print(Network)                 1
12             Public            Copy                 1
13     davisson.silva  Print(Network)                 1
14     davisson.silva  Print(Network)                 7
15   Christian.Cutrim  Print(Network)                 2
16       pamela.silva  Print(Network)                 1
17  patricia.oliveira  Print(Network)                10
18       Taliane.Lima  Print(Network)                 1
19   marselle.ribeiro  Print(Network)                 3
20        Luis.Franca  Print(Network)                 1
21     davisson.silva  Print(Network)                 2
22        Luis.Franca  Print(Network)                 3
23        Luis.Franca  Print(Network)                 3
24        Luis.Franca  Print(Network)                 3
25   Christian.Cutrim  Print(Network)                 1
26   marselle.ribeiro  Print(Network)                 2
27     davisson.silva  Print(Network)                 1

In [168]:
dados_teste=dados_grupos.groupby(["Usuario","Processo"]).sum()

In [169]:
dados_teste

                                  Total de Paginas
Usuario           Processo
Christian.Cutrim  Print(Network)                 4
Luis.Franca       Print(Network)                12
Public            Copy                           1
Taliane.Lima      Print(Network)                 3
davisson.silva    Print(Network)                16
graciele.gomes    Print(Network)                 4
marselle.ribeiro  Print(Network)                 5
pamela.silva      Print(Network)                 4
patricia.oliveira Print(Network)                12